
.billboard {
  text-align: left;
  max-width: 300px;
  background-color: aliceblue;
  color: #6d5c86;
  padding: 1rem;
  margin-bottom: 20px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.694);
  position: absolute;
  top: 15px;
  left: 16px;
}
.billboard-container {
  margin: 10px;
  display: block;
  text-align: center;
  max-width: 100%;
  position: relative;
  color: white;
  margin-bottom: 20px;
}
.billboard-image {
  display: block;
  width: 100%;
  max-height: 200px;
}

/* adds additional padding to the bottom of an element */
.pad-bottom {
  padding-bottom: 40px;
}

/* added additional class name for header elements */
.signout {
  margin-top: 60px;
}

/* styles the signed in user's name in the header */
.header nav span {
  color: #fff;
  margin-left: 20px;
}

/* styles the validation errors */
.validation--errors--label {
  color: #7c689b;
  font-size: 28px;
}
.validation-errors ul {
  color: #7c689b;
  padding: 15px 0 40px 10px;
}

@media screen and (max-width: 480px) {
  .billboard {
    display: none;
  }
  .billboard-image {
    display: none;
  }
}